[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/NetFoundry/http-parser
	branch = support-opaque-urls
[submodule "deps/uv-mbed"]
	path = deps/uv-mbed
	url = https://github.com/NetFoundry/uv-mbed.git
	branch = master
[submodule "deps/subcommand"]
	path = deps/subcommand
	url = https://github.com/dimitri/subcommands.c.git
	branch = master
