.DS_Store

build-*/
build/
cmake-build-*/

# visual studio files
.vs
**/obj/
**/bin/
**/Debug/
*.user
ziti_libs/

#docfx related
docfx_site
windows/packages

#ide related
.vscode
.idea

Testing/

#additional stuff for localtesting
local.cmake
/CMakeUserPresets.

## CI dirs
.ci.cache/
